SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# https://www.latticesemi.com/en/Support/AnswerDatabase/1/9/6/1964
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock
LOCATE COMP "clk" SITE "P6";
IOBUF  PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk" 25 MHZ;

# FTDI
#LOCATE COMP "usb_tx" SITE "K15"; # Transmit to ftdi
#IOBUF  PORT "usb_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "usb_rx" SITE "K16"; # Transmit from ftdi
#IOBUF  PORT "usb_rx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "usb_rtsn" SITE "L16";
#IOBUF  PORT "usb_rtsn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;
#LOCATE COMP "usb_dtrn" SITE "L15";
#IOBUF  PORT "usb_dtrn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=DOWN;

LOCATE COMP "spi_io_dout" SITE "H14";
IOBUF PORT "spi_io_dout" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "spi_io_din" SITE "J13";
IOBUF PORT "spi_io_din" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "spi_io_ss" SITE "G14";
IOBUF PORT "spi_io_ss" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "spi_io_clk" SITE "J14";
IOBUF PORT "spi_io_clk" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "spi_intn" SITE "F14";
IOBUF PORT "spi_intn" IO_TYPE=LVCMOS33 PULLMODE=UP;

# LEDs
#LOCATE COMP "leds[0]" SITE "E13";
#IOBUF  PORT "leds[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
#LOCATE COMP "leds[1]" SITE "D14";
#IOBUF  PORT "leds[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
#LOCATE COMP "leds[2]" SITE "E12";
#IOBUF  PORT "leds[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
#LOCATE COMP "leds[3]" SITE "C13";
#IOBUF  PORT "leds[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;
#LOCATE COMP "leds[4]" SITE "D13";
#IOBUF  PORT "leds[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4;

LOCATE COMP "LED_R" SITE "A11";
LOCATE COMP "LED_G" SITE "B11";
LOCATE COMP "LED_B" SITE "A12";
IOBUF PORT "LED_R" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_G" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_B" IO_TYPE=LVCMOS33;

# Buttons
LOCATE COMP "reset_n" SITE "C4";
IOBUF  PORT "reset_n" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "user_n" SITE "C5";
IOBUF  PORT "user_n" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

# HDMI
LOCATE COMP "TMDS[0]" SITE "L1"; # Blue +
LOCATE COMP "TMDS[1]" SITE "K2"; # Blue -
LOCATE COMP "TMDS[2]" SITE "J1"; # Green +
LOCATE COMP "TMDS[3]" SITE "H2"; # Green -
LOCATE COMP "TMDS[4]" SITE "G1"; # Red +
LOCATE COMP "TMDS[5]" SITE "F1"; # Red -
LOCATE COMP "TMDS[6]" SITE "E2"; # Clock +
LOCATE COMP "TMDS[7]" SITE "D3"; # Clock -
IOBUF PORT "TMDS[0]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST;
IOBUF PORT "TMDS[1]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST;
IOBUF PORT "TMDS[2]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST;
IOBUF PORT "TMDS[3]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST;
IOBUF PORT "TMDS[4]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST;
IOBUF PORT "TMDS[5]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST;
IOBUF PORT "TMDS[6]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST;
IOBUF PORT "TMDS[7]" IO_TYPE=LVCMOS33 DRIVE=16 DRIVE=4 SLEWRATE=FAST; 

# SD Card
LOCATE COMP "sd_dat[0]" SITE "K12";
IOBUF  PORT "sd_dat[0]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_dat[1]" SITE "L12";
IOBUF  PORT "sd_dat[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_dat[2]" SITE "F12";
IOBUF  PORT "sd_dat[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "sd_dat[3]" SITE "G12";
IOBUF  PORT "sd_dat[3]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_clk" SITE "J12";
IOBUF  PORT "sd_clk" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "sd_cmd" SITE "H12";
IOBUF  PORT "sd_cmd" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
#LOCATE COMP "sd_det" SITE "none";
#IOBUF  PORT "sd_det" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;

# USB
#LOCATE COMP "usb_dp[0]" SITE "F15";
#IOBUF  PORT "usb_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
#LOCATE COMP "usb_dn[0]" SITE "E16";
#IOBUF  PORT "usb_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
#LOCATE COMP "usb_pull_dp[0]" SITE "G15";
#IOBUF  PORT "usb_pull_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
#LOCATE COMP "usb_pull_dn[0]" SITE "H14";
#IOBUF  PORT "usb_pull_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
#LOCATE COMP "usb_dp[1]" SITE "J16";
#IOBUF  PORT "usb_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
#LOCATE COMP "usb_dn[1]" SITE "J15";
#IOBUF  PORT "usb_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
#LOCATE COMP "usb_pull_dp[1]" SITE "E14";
#IOBUF  PORT "usb_pull_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
#LOCATE COMP "usb_pull_dn[1]" SITE "E11";
#IOBUF  PORT "usb_pull_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;

# SDRAM
LOCATE COMP "O_sdram_addr[0]" SITE "H15";
IOBUF  PORT "O_sdram_addr[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[1]" SITE "B13";
IOBUF  PORT "O_sdram_addr[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[2]" SITE "B12";
IOBUF  PORT "O_sdram_addr[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[3]" SITE "J16";
IOBUF  PORT "O_sdram_addr[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[4]" SITE "J15";
IOBUF  PORT "O_sdram_addr[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[5]" SITE "R12";
IOBUF  PORT "O_sdram_addr[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[6]" SITE "K16";
IOBUF  PORT "O_sdram_addr[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[7]" SITE "R13";
IOBUF  PORT "O_sdram_addr[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[8]" SITE "T13";
IOBUF  PORT "O_sdram_addr[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[9]" SITE "K15";
IOBUF  PORT "O_sdram_addr[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[10]" SITE "A13";
IOBUF  PORT "O_sdram_addr[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[11]" SITE "R14";
IOBUF  PORT "O_sdram_addr[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_addr[12]" SITE "T14";
IOBUF  PORT "O_sdram_addr[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "IO_sdram_dq[0]" SITE "F16";
IOBUF  PORT "IO_sdram_dq[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[1]" SITE "E15";
IOBUF  PORT "IO_sdram_dq[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[2]" SITE "F15";
IOBUF  PORT "IO_sdram_dq[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[3]" SITE "D14";
IOBUF  PORT "IO_sdram_dq[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[4]" SITE "E16";
IOBUF  PORT "IO_sdram_dq[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[5]" SITE "C15";
IOBUF  PORT "IO_sdram_dq[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[6]" SITE "D16";
IOBUF  PORT "IO_sdram_dq[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[7]" SITE "B15";
IOBUF  PORT "IO_sdram_dq[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[8]" SITE "R16";
IOBUF  PORT "IO_sdram_dq[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[9]" SITE "P16";
IOBUF  PORT "IO_sdram_dq[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[10]" SITE "P15";
IOBUF  PORT "IO_sdram_dq[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[11]" SITE "N16";
IOBUF  PORT "IO_sdram_dq[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[12]" SITE "N14";
IOBUF  PORT "IO_sdram_dq[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[13]" SITE "M16";
IOBUF  PORT "IO_sdram_dq[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[14]" SITE "M15";
IOBUF  PORT "IO_sdram_dq[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "IO_sdram_dq[15]" SITE "L15";
IOBUF  PORT "IO_sdram_dq[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "O_sdram_ba[0]" SITE "G15";
IOBUF  PORT "O_sdram_ba[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_ba[1]" SITE "B14";
IOBUF  PORT "O_sdram_ba[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "O_sdram_dqm[0]" SITE "C16";
IOBUF  PORT "O_sdram_dqm[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_dqm[1]" SITE "T15";
IOBUF  PORT "O_sdram_dqm[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

LOCATE COMP "O_sdram_cs_n" SITE "A14";
IOBUF  PORT "O_sdram_cs_n" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_cke" SITE "L16";
IOBUF  PORT "O_sdram_cke" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_clk" SITE "R15";
IOBUF  PORT "O_sdram_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_wen_n" SITE "A15";
IOBUF  PORT "O_sdram_wen_n" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_cas_n" SITE "G16";
IOBUF  PORT "O_sdram_cas_n" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "O_sdram_ras_n" SITE "B16";
IOBUF  PORT "O_sdram_ras_n" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

# SPI Flash
LOCATE COMP "mspi_cs" SITE "N8";
IOBUF  PORT "mspi_cs" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "mspi_di" SITE "T8";
IOBUF  PORT "mspi_di" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "mspi_do" SITE "T7";
IOBUF  PORT "mspi_do" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "mspi_wp" SITE "M7";
IOBUF  PORT "mspi_wp" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
LOCATE COMP "mspi_hold" SITE "N7";
IOBUF  PORT "mspi_hold" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
# fake clock tristate to prevent synplify to optimize this away
LOCATE COMP "mspi_clk_ts" SITE "D12";
IOBUF  PORT "mspi_clk_ts" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

